.banner{
    /* background-image: url('../.../images/zepto_banner.png'); */
    background-image: url('../../../public/images/zepto_banner.png');
    height:90px;
}

.banner h2{
    color:white;
    font-size: 20px;
}
