*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	
}
.col1{
    width:8.33%;
    padding:0 15px;
}

.col2{
    width:16.66%;
    padding:0 15px;
}

.col3{
    width:25%;
    padding:0 15px;
}

.col4{
    width:33.32%;
    padding:0 15px;
}

.col5{
    width:41.65%;
    padding:0 15px;
}

.col6{
    width:50%;
    padding:0 15px;
}

.col7{
    width:58.31%;
    padding:0 15px;
}

.col8{
    width:66.64%;
    padding:0 15px;
}

.col9{
    width:75%;
    padding:0 15px;
}

.col10{
    width:83.33%;
    padding:0 15px;
}

.col11{
    width:91.63%;
    padding:0 15px;
}

.col12{
    width:100%;
    padding:0 15px;
}


.nav{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(60 0 107);
    padding:10px;
}

.logo img{
    width: 100%;
    height: 34px;
}

.searchbar input{
    width: 600px;
    border:1px solid white;
    border-radius: 10px;
    outline-color: white;
    font-size: 16px;
    height:50px;
    padding-left:20px;
    
}

.icon svg{
    position: relative;
    left: 98%;
    color: grey;
}

.searchbar p{
    color:white;
    
}

.searchbar{
    display:flex;
    align-items: center;
}


.location p{
    border-left:2px solid purple ;
    padding:10px;
    color:white;
}

.login{
    font-size:20px;
    color:white;
}

button{
    padding:15px 30px;
    border:1px solid red;
    outline-color: none;
    border-radius: 5px;
    background-color: red;
    color:white;
    font-size:15px;

}